<div>
  <h3>PRESTABOOK</h3>
  
  {{#each this.allBooks}}
    <li>
     <a href="/book/{{this._id}}/details"><img src="{{this.image}}" alt="Portada libro" height="200px" /></a> 
      <h4>{{this.title}}</h4>
      <h4>{{this.author}}</h4>
    </li>
  {{/each}}

</div>