<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
     <script src="https://kit.fontawesome.com/b8e43a0d7b.js" crossorigin="anonymous"></script>
  </head>
  <body>
   
    {{#if this.isUserActive}}
    <nav class="nav-bar">
       <div class="nav-bar-left">
        <a class="nombre-web" href="/">PRESTABOOK</a>
          <a href="/"><i class="fa-solid fa-house-chimney" style="color: white;"></i>Home</a>   
          <a href="/private/profile"><i class="fa-solid fa-user"></i>Perfil</a>               
          
       </div>
       <div class="nav-bar-right">
          <form action="/book/search-list" method="get">
        <input
          type="text"
          name="datosBusqueda"
          placeholder="Busca por titulo, autor o género" autofocus
        />
        <button><i id="boton-i" class="fa-solid fa-magnifying-glass"></i></button>
      </form>
     <a href="/auth/logout"><i class="fa-solid fa-door-open" style="color: white;"></i>Cerrar sesión</a>
     </div>      

      {{/if}}   

    </nav>
{{#if this.isAdminActive}}
    <nav class="nav-bar-admin">
      <div class="nav-bar-left-admin">
        <a class="nombre-web" href="/">PRESTABOOK</a>
      <a href="/admin/index-admin"><i class="fa-solid fa-house-chimney" style="color: white;"></i>Home</a>
      <a href="/admin/create"><i class="fa-solid fa-book" style="color: white;"></i>Añadir Libro</a>
      <a href="/admin/list-status"><i class="fa-solid fa-book-atlas" style="color: white;"></i></i>Ver Préstamos</a>
    </div>
     <div >
      <a href="/auth/logout"><i class="fa-solid fa-door-open" style="color: white;"></i>Cerrar sesión</a>
      </div>
    </nav>
{{/if}}
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>