@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

/* LOGIN Y SIGN UP*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  text-decoration: none;
}
.superbody {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("/images/backgroundLibros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  color: white;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.19);
  display: flex;
  margin: 5px;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
}

.superbody input {
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button.login-btn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  background-color: rgb(5, 211, 183);
  color: rgba(0, 0, 0, 0.699);
  cursor: pointer;
  font-size: 15px;
}

button.login-btn:hover {
  background-color: rgb(8, 204, 178);
}

button.login-btn:active {
  background-color: rgb(45, 241, 215);
}

p {
  text-align: center;
  padding: 0 5px;
  color: whitesmoke;
  margin: 3px 0;
  font-style: italic;
  font-weight: bold;
}
a {
  color: rgb(5, 211, 183);
}
footer {
  color: white;
}

/*  FORMULARIO DE CREAR LIBROS */

.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.create-form {
  margin: 100px auto;
  padding: 20px;
  width: 550px;
  background-color: rgba(215, 219, 221, 0.7);
  border-radius: 20px;
}
.create-form input,
select {
  height: 30px;
  font-size: 1.2em;
  border-radius: 8px;
  border-color: rgba(211, 211, 211, 0.596);
}
.create-form select {
  border-color: rgba(129, 129, 129, 0.596);
}
.create-form textarea {
  font-size: 1.2em;
  border-radius: 8px;
  border-color: rgba(129, 129, 129, 0.596);
}

.create-form label {
  font-size: 1.5em;
}

.create-form h3 {
  color: rgb(1, 63, 55);
  text-align: center;
  font-size: 1.8em;
  padding: 40px 0 40px 0;
}
.añadir-btn {
  width: 100px;
  margin: auto;
}
.añadir-btn button {
  width: 120px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 8px;
  background-color: rgb(45, 241, 215);
  cursor: pointer;
  color: rgb(1, 63, 55);
  font-weight: bold;
  border: none;
}

.añadir-btn button:hover {
  background-color: rgb(8, 204, 178);
}

/*formulario editar/borrar*/
.delete-form-btn,
.edita-form-btn {
  margin: auto;
  width: 150px;
  padding: 20px;
}
.delete-form-btn button {
  background-color: rgb(255, 23, 68);
  width: 120px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(1, 63, 55);
  font-weight: bold;
  border: none;
}

.edita-form-btn button {
  background-color: rgb(45, 241, 215);
  width: 120px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(1, 63, 55);
  font-weight: bold;
  border: none;
}

/* VISTA HOME ADMIN*/
.container-details {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  background-color: #e8f8f5;
  background-size: cover;
  -webkit-box-shadow: 4px 4px 13px 2px rgba(0, 0, 0, 0.52);
  box-shadow: 4px 4px 13px 2px rgba(0, 0, 0, 0.52);
  border-radius: 25px;
  padding: 15px;
}
.card-info {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 20px;
  padding: 20px 20px 5px 20px;
 
}

.card-text{
  margin-bottom: 15px;
  font-size: 1.2em;
}
.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.editar-borrar-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.edita-btn button,
.borrar-btn button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
}
.borrar-btn button {
  background-color: rgb(255, 23, 68);
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
}
.edita-btn button {
  background-color: rgb(18, 104, 93);
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
}
.edita-btn button:hover {
  background-color: rgb(8, 204, 178);
}
.borrar-btn button:hover {
  background-color: rgb(213, 0, 0);
}
